/* picking.css - Specific styles for the Picking App */

.mode-label { 
    font-size: 12px; 
    font-weight: bold; 
    margin-right: 8px; 
    display: flex; 
    align-items: center; 
}

.mode-label input { 
    margin-right: 4px; 
    transform: scale(1.2); 
}

/* IMPROVEMENT: GREY OUT STYLE */
.disabled-control {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(100%);
}

#debugConsole { 
    display: none; 
    position: fixed; 
    top: 25px; 
    left: 0; 
    right: 0; 
    height: 100px; 
    background: rgba(0,0,0,0.8); 
    color: lime; 
    z-index: 9999; 
    overflow-y: scroll; 
    font-size: 10px; 
    padding: 5px;
}